<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Add Character </title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>


<body>

  <script src="js/scripts.js"></script>
  <h1> Add a Location </h1>
  <p>  <a href="Home Page.html">Go Home</a> </br>
          
  </p>
  <p>
      <form>
          <fieldset>
              Name <input type="text" id="name" /> </br>
              City <input type="text" id="city"/> </br>
              Region <input type="text" id="region" /> </br>
              Planet <input type="text" id="planet"/> </br>
              <input type="submit" />
          </fieldset>
      </form>
  </p>
</body>
</html>